@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<div>
    <form method="get" action="/home/about">
        <input name="name" type="text" value="@ViewBag.Name" />
        <input type="submit" value="Button" />
        <br /><br />
        <span>@ViewBag.Greeting</span>
    </form>
</div>
